<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="nl.x-services.plugins.beacon"
    version="4.2.9">

   <name>Gimbal iBeacon</name>

   <description>
      Provides access to the standard interface that manages the beacons
   </description>

   <license>MIT</license>

   <engines>
      <engine name="cordova" version=">=3.0.0" />
   </engines>

   <js-module src="www/Beacon.js" name="Beacon">
      <clobbers target="Beacon" />
   </js-module>

   <!-- android -->
   <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
         <feature name="Calendar">
            <param name="android-package" value="nl.xservices.plugins.Calendar" />
         </feature>
      </config-file>
     <config-file target="AndroidManifest.xml" parent="/manifest">
       <uses-permission android:name="android.permission.READ_CALENDAR"/>
       <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
     </config-file>
      <source-file src="src/android/nl/xservices/plugins/Calendar.java" target-dir="src/nl/xservices/plugins" />
   </platform>
</plugin>
